{% extends 'booking/base5.html' %}
{% block content %}   
{% load tz %}



//   <script>
// $(document).ready(function($) 
//     { 
//         $("#myTable").tablesorter(); 
//     } 
// ); 
    
// </script>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">



<h2 class="sub-header">Bookings</h2>


<!-- <div class="row">
<div class="col-sm-10"></div>
<div class="pagination col-sm-2 ">
    <span class="step-links">
        {% if allbookings.has_previous %}
            <a href="?page={{ allbookings.previous_page_number }}"><<</a>
        {% endif %}

        <span class="current">
            Page {{ allbookings.number }} of {{ allbookings.paginator.num_pages }}
        </span>

        {% if allbookings.has_next %}
            <a href="?page={{ allbookings.next_page_number }}">>></a>
        {% endif %}
    </span>
</div>

</div> -->
<!-- {{order}} -->
          <div class="table-responsive">
            <table id ="myTable" class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
<!--                   <th>Telephone</th>
                  <th>Email</th> -->
                  <th>Room</th>
                  <th><a href="/allbookings/?order=3">Check-in date</a></th>
                  <th><a href="/allbookings/?order=2">Check-out date</a></th>
                  <th>Deposit</th>
                  <th><a href="/allbookings/?order=0">Date/time booked</a></th>
<!--                   <th>Payment success</th> -->
                  <th>Booking Ref Number</th>
                  <th>Booking Price</th>                                                                        
                </tr>
              </thead>
              <tbody class="infinite-container">
              	{% for customer in allbookings %}
                <tr class="infinite-item">
                  <td><a href="/customer/?pk={{customer.cust33.pk}}"> {{ customer.cust33.first_name|truncatechars:15 }}&nbsp; {{ customer.cust33.last_name|truncatechars:15 }}</a></td>
<!--                   <td><a href=#> {{ customer.phone_number }}</a></td>
                  <td><a href=#> {{ customer.email }}</a></td> -->
                  <td>{{ customer.room_number }}</td>
                  <td> {{ customer.checkin_date }}</td>
                  <td>{{ customer.checkout_date }}</td>
                  <td>{{ customer.deposit}}</td>                  
                  <td>{% timezone "Asia/Kuala_Lumpur" %}{{ customer.created_on }}{% endtimezone %}</td>
<!--                   <td><a href=#> {{ customer.booking_success }}</a></td> -->
                  <td><a href=#> {{ customer.referenceno }}</a></td>
                  <td>${{ customer.paymentprice }}</td>             
                  <td><a href="/edit1/{{customer.pk}}">Edit</a></td>  
                  <td><a href="/delete1/{{customer.pk}}">Delete</a></td>
                </tr>
                {% endfor %}
               </tbody>
            </table>
            </div>




<div class="row">
<div class="col-sm-10" id="basic-waypoint"></div>
<div class="pagination col-sm-2 ">
<!--     <span class="step-links">
        {% if allbookings.has_previous %}
            <a href="?page={{ allbookings.previous_page_number }}"><<</a>
        {% endif %}

        <span class="current">
            Page {{ allbookings.number }} of {{ allbookings.paginator.num_pages }}
        </span> -->

        {% if allbookings.has_next %}
            <a class="infinite-more-link" href="?page={{ allbookings.next_page_number }}&order={{order}}">Loading ... </a>
        {% endif %}
    </span>
</div>

</div>







</div>

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>


{% endblock %}
