<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

    
    <div style="margin-left:5%; margin-top:20px;">

<strong> New Events Enquiry</strong>
            First name: {{first_name}}
            <br><br>
            Last name: {{last_name}}
            <br><br>
            Email: {{email}}
            <br><br>
            Contact number: {{contact_number}}
            <br><br>
            Number of Attendee:{{number_of_attendee}}
            <br><br>
            Date: {{date}}
            <br><br>
            Time: {{time}}
            <br><br>
            Event Type: {{type1}}
            <br><br>
            Services Needed: {{services}}

    </div>
    </body>
</html>