{% extends 'booking/base2.html' %}
{% block content %}   


<div class="container" style="width:80%; overflow:auto; padding-bottom:150px;">
<h1>Hotel Policies </h1>

<br><br>
<strong><u>
    Smoke free policy</u>
</strong>
<br>
InnB Park Hotel is a proud partner of DBKL’s KL Bebas Rokok Campaign and a recipient of the World Health Organization’s Blue Ribbon Award. The Hotel’s strict non smoking policy is in line with the city council’s efforts to make Kuala Lumpur a smoke-free city.

We believe that the key to a good night’s rest is a clean and secure environment. 
As such, all rooms at InnB Park Hotel are fitted with an advanced air filtering system to ensure guests are able to enjoy clean, fresh air throughout their stay at the hotel. The Hotel is also featured on booking engine, Traveloka,
 as a recommended choice of accommodation for medical tourists, as we provide a smoke-free guarantee for all rooms.
 <br>
 Guests who wish to smoke may do so in the designated
 area outside the hotel. Smoking in all areas of the hotel, including but not limited to, the guest rooms, bathrooms, stairways, and elevators are strictly not allowed and will incur an additional cleaning charge of RM150.00 per area.
<br>
 <strong>
 We thank you for supporting our smoke free policy and
 in helping us achieve the Blue Ribbon Status.   </strong>

 <br>
 For any disputes pertaining to smoking cleaning charges, the following steps will be followed:
 <ol>
 <li>
 The Guest's deposit will be withheld at the Hotel. Our front desk team will provide a copy of all relevant documentation to the guest for the lodging of a report. We recommend guests to visit the Dang Wangi headquarters for convenience.</li>
 <li>Once a police report has been lodged, the guest shall request for an officer-in-charge to visit and inspect the Hotel room for the said damages within and before 5pm of the check out date. </li>
    <li>The hotel shall return the cleaning charges to the Guest if and only if the officer determines there is insufficient evidence for the charge and that the Hotel does not reserve the right to charge for the smoking fees.</li>
</ol>
<br>

<strong><u>
Linen & Damage Policy</u>
</strong>
<br>The Hotel does not use any bleach chemicals for the handling of linens. This is to cater to individuals who may be allergic or sensitive to harsh chemicals. Should guests wish to purchase any linen from the Hotel, they are available upon request from the front desk reception. The prices for linen are displayed below and available in all rooms.<Br>
    <br><img src ="https://www.innbparkhotel.com/static/images/20190228_084705_0002.png" style='width:520px; max-width:90%' /><br><br>
Guests will be charged for the replacement cost of stained linens. Stain charges can be anywhere between RM25 - the full replacement cost, as determined by the Housekeeping manager, depending on the extent and severity of the damage. If the full replacement cost is paid, the item is considered sold and the guest may remove the item from the property. 
Additional charges are applicable for any other additional cleaning or damages caused intentionally or unintentionally. These include, but are not limited to, cleaning charges for stained walls, vomit, spills on carpet, and/or broken furniture and fittings. The exact charges will be determined on a case-by-case basis by the Manager in charge. 

<br><br>
<strong>
<u>
    Luggage storage policy
</u></strong><br>
Luggage storage is available to guests currently staying at the Hotel for the period of their booking, and up to 12 hours before and after the booking check in and check out time. There is a maximum limit of 2 standard large suitcases (50x36x23cm) per room. Guests are required to assist InnB Park Hotel staff in mobilising any luggage or items exceeding 15kg. Storage exceeding this period is subject to approval on a case-by-case basis, subject to a nominal fee of RM15/day. Guests who are travelling elsewhere after their check out and will be returning to the Hotel at a later date may store their luggage free of charge at the hotel for a maximum storage period of One(1) week on the following conditions:
<ul>

<li>The guest has made and paid for the subsequent booking at the hotel on the date of his/her return; AND</li>
<li>The guest has signed the Hotel's long term luggage storage agreement; AND</li>
<li>If the guest intends to store the luggage for more than One(1) week, a security deposit shall be placed with the front desk for this service and the intended collection date clearly communicated with the Hotel</li>
</ul>
Each item of luggage will be tagged with a luggage identification tag and may only be retrieved by the bearer of the tag. If the tag cannot be produced during collection, the Hotel may nevertheless allow the luggage to be collected if the person claiming it can establish, to the Hotel's satisfaction, his/her right or authority to collect the luggage. InnB Park Hotel shall not be liable for any loss or damage for releasing the luggage accordingly. The maximum storage period is one (1) week.
<br>
Should any luggage or items remain unclaimed upon expiry of the (1) week period and if no additional communication is received by the Guest about the collection date, InnB Park Hotel reserves the absolute right and discretion to either continue storing the luggage (charges shall continue to apply and you shall be liable for such charges) or to dispose of the luggage or item without any liability to you. Guests are advised to obtain insurance to cover curtailment, and loss of luggage, personal effects, damages, personal injury and money/valuable belongings. 
<br><br>



<strong>
<u>
    Housekeeping General Guide
</u></strong><br>
Our housekeepers will clean all rooms by default on a daily basis. For long staying guests, linen shall be changed, every 3 days at the least, unless specifically requested by guests. Housekeeping service is available between 9.30am - 4.30pm. Whilst we will try our best to attend to all requests, no guarantees can be made as to the exact time each room will be cleaned. Guests who turn on the 'Do Not Disturb' sign during housekeeping hours will not receive any housekeeping service. Housekeeping service is not available after 5pm. However, guests are free to request for any additional replenishment of toiletries should they require, from reception at any time. 

<br>
<br>

<strong>
    <u>
        Front Desk & Concierge Services
    </u></strong><br>
    The Hotel is operational 24 hours but the extent of service available to guests between 11pm - 7am is limited to only check-ins and check-outs. No maintenance services will be provided during this time. We also kindly ask guests to collect any requested items direct from the lobby front desk during this period. 
    <br>
    <br>

    <strong>
        <u>
            Lost & Found Items
        </u></strong><br>
        Whilst the Hotel staff makes an attempt to check each room prior to the guests' departure from the premise, the onus is on guests to ensure that they have taken all their belongings with them prior to check-out. The Hotel practices the following rule of thumb for any items that are left behind after checkout:
        <br> <br>
        <table >
            <thead>
                <tr>
                    <th style="padding:8px; border:1px solid black;">Item Type</th>
                    <th  style="padding:8px; border:1px solid black;">Examples</th>
                    <th style="padding:8px; border:1px solid black;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td  style="padding:8px; border:1px solid black;">Perishable items</td>
                    <td  style="padding:8px; border:1px solid black;">Food & drinks</td>
                    <td  style="padding:8px; border:1px solid black;">Disposed immediately</td>
                </tr>
                <tr>
                    <td  style="padding:8px; border:1px solid black;">Personal Hygience Products & Tools</td>
                    <td  style="padding:8px; border:1px solid black;">Shampoo, Makeup, Comb, Toothbrush</td>
                    <td  style="padding:8px; border:1px solid black;">Disposed immediately</td>
                </tr>
                <tr>
                    <td style="padding:8px; border:1px solid black;">Medication	</td>
                    <td  style="padding:8px; border:1px solid black;">Pills, Glasses & Other ingestible medication</td>
                    <td  style="padding:8px; border:1px solid black;">Report as lost & found </td>
                </tr>
                <tr>
                    <td style="padding:8px; border:1px solid black;">Important documentation</td>
                    <td  style="padding:8px; border:1px solid black;">Passport, Money or documents organised in files and folders</td>
                    <td  style="padding:8px; border:1px solid black;">Report as lost & found </td>
                </tr>
                <tr>
                    <td style="padding:8px; border:1px solid black;">Paper products</td>
                    <td  style="padding:8px; border:1px solid black;">Printed documents, lose form or scattered</td>
                    <td  style="padding:8px; border:1px solid black;">Disposed immediately</td>
                </tr>
                <tr>
                    <td  style="padding:8px; border:1px solid black;">Wearables</td>
                    <td  style="padding:8px; border:1px solid black;">	Clothing & Accessories</td>
                    <td  style="padding:8px; border:1px solid black;">Report as lost & found </td>
                </tr>

            </tbody>





        </table>
        <br>
        The Hotel will try to reach out to guests for any items reported lost & found. For bookings made via a third party or where the guest's contact details are not available, the Hotel will keep these items for up to 14 days from the day of check out. The Hotel reserves the right to remove or dispose of all unclaimed items after the 14 day grace period, as and how it deems fit. 

        The guest shall be responsible to pay for the postage costs plus a nominal charge for the service, for requests for items to be posted back to its owner. The exact charge depends on the weight & size of the item as well as the postal destination.
        <br><strong>
        The Hotel and its staff shall not be held responsible for the loss or damage of any items left behind after check out. </strong>


<br><br><br>



If you have any queries or concerns about the Website or these Terms, please contact us at:
<Br>
<Strong>
<br>
+603 2856 7257
<br>
Inn B Park Hotel
<br>
102-106 Jalan Imbi
<br>
Bukit Bintang, 
<br>
55100 Kuala Lumpur
<br>
Kuala Lumpur
</Strong>



</div>


{% endblock %}