{% extends 'booking/base2.html' %}
{% block content %}   
<div class="container" style="width:80%; overflow:auto; padding-bottom:150px;">

<h1>Privacy Notice</h1>

<br>
<strong><u>Introduction</u></strong>
<br>

Inn B Park Hotel Sdn. Bhd., also referred to as “Inn B Park”, “IBP”, “us”, “our” or “we” hereinafter depending on the context, is committed to safeguarding the privacy of all its customers and business partners and treats all personal information provided by you (“the user”) as confidential. We pledge to fully comply with the requirements as set out by the Malaysian Personal Data Protection Act 2010, and where possible, internationally recognized standards of personal data privacy protection. The information you provide is used to help us operate effectively and provide you with distinctive standards of hospitality services and experiences.
<br>
<br>

This Privacy Notice (the “Policy”) applies to all personal data and information regarding guests and other individuals with whom we do business and to the management of that data and information in any form whether electronic or written, that is capable of identifying said person or group. By using our services, you consent to the terms of this Privacy Notice and the ways we collect, use and share your personal information. If you do not consent to the terms of this Privacy Notice, please do not continue to use the services.
</br>
</br>

<strong><u>Means and Type of Personal Data Collected</u></strong>
</br>
Personal data may be collected when you:
</br>

<ol type="i">
<li>Contact us with a question or request</li>
<li>Stay at, or make a reservation for one of our services</li>
<li>Use our services</li>
<li>Make a payment for a product or service</li>
<li>Provide a testimonial or story</li>
<li>Participate in a competition or sweepstake</li>
<li>Submit a job application</li>
<li>Use our Web Services (Notice on cookies and other tracking technologies detailed under Section of this Policy).</li>
</ol>
</br>

In doing so, we may obtain and collect personal information such as:
</br>
<ol type="i">
<li>Your name;</li>
<li>Your Contact information;</li>
<li> Passport, visa and/or travel details including but not limited to your date of arrival and departure and travel itinerary;</li>
<li>Guest stay information including history of goods and services you have purchased from us, special requests made, observations about your service preferences;</li>
<li>Your reviews and opinions about our services; and</li>
<li>Information collected through the use of closed circuit television systems and other security systems installed on our properties.</li>
</ol>
</br>

<strong><u>
Use of Personal Information Collected</u>
</strong>
</br>

Personal information submitted to us through the use of our website, or in paper form through any other documents, may be used to:
</br>
<ol type="i">

<li>Respond to your inquiries</li>

<li>
Process and/or confirm bookings and payments for our services;</li>

<li>
Personalize your experience by presenting services tailored to you;</li>

<li>
Assist with the administration and operations of our business, including but not limited to purposes related to accounting, fraud monitoring and prevention, marketing analyses, research, customer satisfaction and/or quality assurance surveys.</li>

<li>
To facilitate social sharing facility;</li>

<li>
To facilitate direct marketing, promotional and customer management purposes including sending marketing communications that we believe may be of interest to you via postal mail, email, telephone or SMS.</li>
</ol>
</br>

<strong><u>
Disclosure of Personal Information</u> 
</strong></br>
We reserve the right to disclose any personal information we have:
</br>
<ol type="i">
<li>to law enforcement authorities, government or public agencies, regulators and/or any other person(s) with the appropriate legal authority or justification for receipt of such information, as and when required by a law of court, or in cases whereby we believe it is necessary or desirable to comply with the law to protect and/or defend our rights or property;</li>

<li>to any of our employees, officers or agents insofar as reasonably necessary to render you the services you have requested for;</li>

<li>to use and process for compliance with accounting and tax regulations;
</li>
<li>to a third party who acquired any part of Inn B Park Hotel Sdn. Bhd., whether such acquisition is by way of a merger, consolidation or purchase of all, or a substantial portion, of our assets;
</li>
<li>to business partners affiliates or other entities for marketing and statistical use, provided that the information has been aggregated or anonymised such that it not traceable or linked to any one specific individual.
</li>
Except as described herein, we do not permit the sale or distribution of personally identifiable information to third parties.
</ol>
</br>
</br>
<strong><u>
Our Commitment to your security
</u></strong>
</br>
We pledge to take reasonable efforts to protect the information you provide from loss, misuse or unauthorized access, disclosure, alteration and destruction. We have implemented appropriate procedures to ensure the safeguard of your information. However, no security system is 100% secure. The Internet has inherent risks and we cannot guarantee that your personal information will not be subject to interferences, misuse or hacking and we shall not be held responsible or liable for any loss, misuse or alteration arising as a result of such incidents.
</br>
</br>
<strong><u>Cookies</u></strong>
</br>

Some of our pages may use “cookies”, which are small text files this Website sends to your computer for record-keeping purposes. We use cookies in an effort to better
understand our customer’s needs and to personalize your experiences on our web pages.
</br></br>
<strong>
<u>Other Important Points</u>
</strong>
<br>
<ul>
<li><strong>Information Provided on Behalf of Another Individual or Group</strong></li>

If you are making a reservation or enquiry and providing us with personal information about another individual/group, we will assume that you have obtained his/her permission to do so for the purpose detailed in this Privacy Notice.
<br>

<li><strong>Links to Website</strong></li>


Links to external websites or applications that may or may not be affiliated with us may be provided for your convenience and information only. These external linked web sites or applications may have different privacy policies and terms of use that are not the same as ours. Your access to and use of such linked sites are at your own risks. We have no control over how these websites collect your information and will not be held liable for any loss, misuse or unauthorized disclosure of arising from the use of these links.
<br>
<li><strong>Minors</strong></li>


No part of our services are directed to individuals under the age of 18. We do not knowingly collect, maintain or use personal information from minors. If you are a minor, please ensure that you have permission from your parent or legal guardian.

<br>
<li><strong>Social Media Sites</strong></li>

We are not responsible and have no control over the collection, usage and disclosure practices and policies of other organizations, such as Facebook, Apple, Google, or any other app developer, social media platform provider, wireless service provider or device manufacturer or any personal information you disclose to other organizations through or in connection with our Social Media Pages.
<br>
<li><strong>Retention of Information</strong></li>

We will retain your personal information for the period necessary to fulfill the purposes outlined in this Privacy Notice unless a longer retention period is required or permitted by law.
<br>
<li><strong>Changes to Policy</strong></li>
IBP has the right to amend the Privacy Notice at any time without prior notice. The revised version of the Privacy Notice is effective upon its posting on our Website. Your continued use of the Website after any such amendment constitutes acceptance of the revised Privacy Notice.
</ul>
<br><br>
<strong><u>
Your Rights
</u></strong><br>
As per the Personal Data Protection Act 2010, you have the right to access and review information we hold about you, or request that we suppress or delete any of the information we have about you. Please note that in some jurisdictions, you may be charged a reasonable fee for the administration and access to your information. For further information, please contact us at admin@innbpark.com.
<br>
We may send marketing communications to the email address, postal address or phone number you have provided. You have the right to opt-out of these at any time by sending an email request to admin@innbpark.com.
<br>
<br>
<strong><u>
Governing Law</u>
</strong>
<br>
Our operations are based in our main office in Kuala Lumpur, Malaysia. This Privacy Notice is thus governed by and construed in accordance with the internal substantive laws of the Malaysian Personal Data Protection Act 2010.
<br>
This Privacy Notice is written in the English language. A translated version in Malay is also available upon request. In the event of any inconsistency between the English version and the translated Malay version of this Privacy Notice, the English version shall prevail.
<br></br>
<strong><u>
Contact Information
</u>
</strong>
<br>
If you have any questions or privacy concerns after reviewing this Privacy Notice, please contact us via email at admin@innbpark.com or by post to:
<br>
<Strong>


<br>
Inn B Park Hotel
<br>
102-106 Jalan Imbi
<br>
Bukit Bintang, 
<br>
55100 Kuala Lumpur
<br>
Kuala Lumpur
<br>
Attn: Legal Policy
<br>
</Strong>
<br><br>


</div>


{% endblock %}