{% extends 'booking/base5.html' %}
{% block content %}   


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">



<h2 class="sub-header">Requests</h2>





<div>
<form method="POST" action="" enctype="multipart/form-data">
    {{ specform.as_p }}
    <br>
<!--         {{ frondest.description }} -->
    <input type='submit' value='Add'>{% csrf_token%} </form>
</div>

<br>
<br>
<br>
<br>









          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
<!--                   <th>Telephone</th>
                  <th>Email</th> -->
                  <th>Room</th>

                  <th>Desecription</th>
<!--                   <th>Payment success</th> -->
                                                                       
                </tr>
              </thead>
              <tbody>
                {%for a in c1%}
                <tr>
                  <td><a href=""> {{a.name}}</a></td>
<!--                   <td><a href=#> {{ customer.phone_number }}</a></td>
                  <td><a href=#> {{ customer.email }}</a></td> -->
                  <td><strong>Room {{a.room_number}}</strong></td>
                  <td> {{a.description}}</td>

                </tr>
                {% endfor %}
               </tbody>
            </table>
            </div>





<!--           <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>First name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Country</th>
                  <th>Attaching Documents</th>                                                                      
                </tr>
              </thead>
              <tbody>
              	{% for customer in all_customers %}
                <tr>
                  <td><a href=#> {{ customer }}</a></td>
                  <td><a href=#> {{ customer.first_name }}</a></td>
                  <td><a href=#> {{ customer.last_name }}</a></td>
                  <td><a href=#> {{ customer.email }}</a></td>
                  <td><a href=#> {{ customer.phone_number }}</td>
                  <td><a href=#> {{ customer.country }}</a></td>
                  <td><a href=#> {{ customer.attachingdocuments }}</a></td>-->
           
<!--                   <td><a href={% url 'edit_1' customer.pk %}>Edit</a></td>  
                  <td><a href={% url 'delete_1' customer.pk %}>Delete</a></td> -->
<!--                 </tr>
                {% endfor %}
               </tbody>
            </table>
            </div>  -->
</div>
{% endblock %}
